# created by virtualenv automatically
__pycache__/

# C extensions
*.so
*.pyd

# IDEA config files
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# pyenv
.python-version

# pipenv
Pipfile
Pipfile.lock

# virtualenv
venv/
ENV/

# Rope project settings
.ropeproject

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~